$color-gray: #919191;
$color-white: #ffffff;

%fill-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cameraclick {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ebf1f5;
    left: 0;
    bottom: -100%;
    transition: all 0.3s;
    z-index: 13;


    &--open {
        bottom: 0;
    }

    &__video-wrapper {
       &, video{
            @extend %fill-screen;
        }
    }

    &__preview {
        @extend %fill-screen;
    }

    &__capture {
        position: absolute;
        z-index: 2;
        border-radius: 100%;
        width: 6em;
        height: 6em;
        bottom: 2em;
        left: calc(50% - 3em);
        text-indent: -800em;
        background: $color-white;

        &:after {
            content: "";
            width: 8em;
            height: 8em;
            border: 2px solid $color-white;
            display: block;
            position: absolute;
            left: calc(-1em - 1px);
            top: calc(-1em - 1px);
            border-radius: 100%;
        }
    }

    &__camera-toggler {
        position: absolute;
        z-index: 2;
        border-radius: 100%;
        width: 4em;
        height: 4em;
        bottom: 3em;
        left: 1em;
        background: $color-white;

        &:after {
            font-family: 'fq-icons';
            content: '\e80f';
            color: $color-gray;
            font-size: 2em;
            transform: scale(1.4);
        }
    }

    &__prompt {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 2em;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        img{
            width: 7em;
        }
    }
}